.container-fluid.bglightgrey.tgrey
  .recording-image
    =image_tag "authors/author1.png", :class=>"author-image"


.container-fluid.bglightgrey.tgrey
  .row
    .container
      .row.top-fifty-margin
        .col-md-1
        .col-md-9
          %p#notice= notice
          .t1-6em.tw600.tblue.center
            =@recording.name
          .t1-6em.top-twenty-margin.sans.lh1-5em.tw300
            /Temporarily disabled with no internet =link_to "Listen", @recording.file.url, :class=>"html5"
            
            %section{:id => "audio"}
              =link_to "Listen", "#{Rails.root}/public/01 Preaching.mp3", :class=>"recording_audio"
          .t1-6em.top-twenty-margin.sans.lh1-5em.tw300
            =render :partial => "timeline"
              
          .top-twenty-margin.sans.lh1-5em.tw300
            -@recording.segments.map{|s| s.name}.uniq.sort.each do |segment|
              .segment-bubble.bgblue.twhite.tbold
                %div{:id => "#{segment}"}
                =segment
          / Add new recording metadata
          .top-fifty-margin
            %h3
              =link_to 'Upload a set of tags for this recording', :tag_upload_path

            = link_to 'Edit', edit_recording_path(@recording)
            |
            = link_to 'Back', recordings_path
/ %h1
/   =@recording.name
/
/ %h2
/   All Tags
/ %p
/   -@recording.tags.collect {|t| t.name}.join(", ")
/ %h2
/   =link_to "Listen", @recording.file.url, :class=>"html5"
/ %section{:id => "audio"}
/ %h2
/   Segments
/ %p
/   -@recording.segments.each do |segment|
/     %h4
/       =segment.name
/     %p
/       Start Time:
/       =segment.start_time
/       | End Time:
/       =segment.end_time
/       | Tags:
/     -segment.tags.each do |seg_tag|
/       %p
/         =seg_tag.name
/         |
/         =seg_tag.tag_type
/
      


