%p#notice= notice
%h1 Listing Timecodes
%table
  %thead
    %tr
      %th Start time
      %th End time
      %th{colspan: "3"}
  %tbody
    - @timecodes.each do |timecode|
      %tr
        %td= timecode.start_time
        %td= timecode.end_time
        %td= link_to 'Show', timecode
        %td= link_to 'Edit', edit_timecode_path(timecode)
        %td= link_to 'Destroy', timecode, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Timecode', new_timecode_path
